# sudo pacman -S gnome-keyring libsecret polkit-gnome seahorse
if [ -z "$SSH_AUTH_SOCK" ]; then
    eval $(gnome-keyring-daemon --start --components=pkcs11,secrets,ssh 2>/dev/null)
    export SSH_AUTH_SOCK
fi
